<form method="post" action="/cart/add"  accept-charset="UTF-8" class="shopify-product-form ajax-atc-form {{ form_class }}" enctype="multipart/form-data" is="product-form">
  <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
  <input type="hidden" name="id" value="{{ variant_id }}">
  <product-payment-container  id="MainPaymentContainer" class="product-form__payment-container">
    <button id="AddToCart" type="submit" is="loader-button" data-product-add-to-cart-button="" data-button-content="Add to cart" class="product-form__add-button button button--secondary button--full">
      <span class="loader-button__text">{{ btn_label }}</span>
      <span class="loader-button__loader" hidden="">
        <div class="spinner">
          <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
          </svg>
        </div>
      </span>
    </button>
  </product-payment-container>
</form>