/*Custom css*/


/* Modal Content */
.modal {visibility:unset;display: none;position: absolute;z-index: 1; padding-top: 20vh;left: 0;top: 0;width: 100%;height: 100%; overflow: auto;background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
.modal {
    transform: unset !important;
}
.modal-content {background-color: #05121d;margin: auto;padding: 20px;border: 1px solid #888;width: 500px;max-width:100%;color:#fff;text-align:center;}
/* The Close Button */
.close {color: #fff;float: right;font-size: 28px; font-weight: bold;margin-top:-40px;margin-right:-40px; width:40px;  height:40px;  background:#000;  border-radius:50%;  line-height:40px; cursor: pointer;}
.modal-content h2 {
  color: #FFF; 
  font-size: 30px;
  font-weight: normal;
  font-family: Roboto, sans-serif;
}

.modal.newsletter .modal-content {
  background: #000;
}

.modal.newsletter ._title {
  padding-left: 10px;
  padding-right: 10px;
}
.modal.newsletter ._title, .modal.newsletter ._subtitle {
  font-weight: 300;
}

.modal-content p {font-size: 15px; color: #fff;letter-spacing: 0.5px;line-height: 28px;}
.mc-field-group input {width: 100%; margin-bottom: 10px; height:45px;color: black;}
#myModal .modal-content {
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}
@media (max-width: 749px) {
  #myModal .modal-content {
    max-width: 90%;
  }
}
/* #mc_embed_signup:not(.mc_embed_signup--newsletter-section)  */
input#mc-embedded-subscribe { 
  background: #ff6a00;  
  border:0px;
  background-size: 20px;

  background-position: right;
  background-repeat: no-repeat;
}

drag-cursor.custom-drag-cursor svg path:first-child {
  fill: #19242F;
}

drag-cursor.custom-drag-cursor svg path:last-child {
  stroke: #FFF;
}

@media (min-width: 750px) {
  .shopify-section.shopify-section--main-product > section > .container {
    margin-top: 30px;
  }
}


form.ajax-atc-form {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

form.ajax-atc-form.left-align {
  margin-left: 0px;
}

form.ajax-atc-form .product-form__payment-container {
  margin: 0px;
}

form.ajax-atc-form.full-width {
  width: 100%;
}

@media (max-width: 749px) {
  form.ajax-atc-form .button--full {
    width: auto;
  }
  body.features--image-zoom .shopify-section.shopify-section--slideshow .button-group__wrapper {
    width: fit-content;
  }
  .mc_embed_signup--newsletter-section .mc-field-group:first-child {
    margin-bottom: 10px;
  }
}

.mc_embed_signup--newsletter-section .mc-field-group-wrapper {
  display: flex;
  flex-wrap: wrap;
}


@media (max-width: 749px) {
  .mc_embed_signup--newsletter-section .mc-field-group-wrapper {
    flex-direction: column;
  }
}

.mc_embed_signup--newsletter-section .mc-field-group .input {
  margin-top: 0px;
}

.mc_embed_signup--newsletter-section .mc-field-group input {
  height: 52px;
  margin-bottom: 0px;
}

.mc_embed_signup--newsletter-section .mc-field-group input[type="email"] {
  color: white;
}

.mc_embed_signup--newsletter-section .mc-field-group input[type="submit"] {
  background-position: center !important;
  color: #FFF;
}

@media (min-width: 750px) {
  .mc_embed_signup--newsletter-section .mce_inline_error {
    font-size: 14px;
  }
  .mc_embed_signup--newsletter-section .mc-field-group:first-child {
    flex: 1;
    margin-right: 15px;
  }
  .mc_embed_signup--newsletter-section .mc-field-group input[type="submit"] {
    width: fit-content;
  }

}





.mc_embed_signup--newsletter-footer .mc-field-group {
  position: relative;
}

.mc_embed_signup--newsletter-footer .mc-field-group input {
  height: 52px;
  margin-bottom: 0px;
}

@media (max-width: 749px) {
  .mc_embed_signup--newsletter-footer .mc-field-group input {
    height: 48px;
  }
}

.mc_embed_signup--newsletter-footer .mc-field-group button {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.footer-newsletter-trigger a {
  border: 1px solid #ffffff26;
  width: 100%;
  transition: all .3s;
}

.footer-newsletter-trigger a:hover {
  background: #ff6a00;
}

.shopify-section.shopify-section--newsletter {
  display: none !important;
}

.line-through {
  text-decoration: line-through;
}

@media (max-width: 749px) {
  /* body.template-bb-n105-channel-strip .shopify-section.shopify-section--slideshow .button-group__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  body.template-bb-n105-channel-strip .shopify-section.shopify-section--slideshow .button-group__wrapper a, 
  */

  body.template-bb-n105-channel-strip .shopify-section.shopify-section--slideshow .button-group__wrapper button {
    width: fit-content;
  } 
}